.color-red {
  background-color: red;
}

.color-blue {
    background-color: blue;
}

.color-green {
    background-color: green;
}

.color-yellow {
    background-color: yellow;
}

.color-white {
    background-color: white;
}

.color-violet {
    background-color: violet;
}