.player {
  width: 32%;
  height: 50%;
  border: 1px solid;
  flex: 0 1 auto;

  &.current-player {
    background-color: beige;
  }

  &>.player-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .cards-wrapper {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: visible;
    height: 83%;
    align-items: center;
    justify-content: center;
  }
}