.history {
  width: 20%;
  height: 100%;
  background-color: green;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
  ol.history-list {
    text-align: left;
  }
}

dialog.popup[open] .popup-content .cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
}