@import "../Card/Card.scss";
$card-vertical-offset: $card-height - 0.25;

.main-field {
  display: flex;
  flex-direction: row;
  width: 95vw;
  height: 95vh;
  background-color: red;

  .main-wrapper {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: blue;

    .main-footer {
      display: flex;
      width: 100%;
      height: 30%;
      background-color: peachpuff;
      justify-content: space-between;

      &>.card-deck {
        
        .card-wrapper + .card-wrapper {
          margin-top: -$card-vertical-offset;
        }
      }
      
      .token-storages {
        display: flex;
        flex-flow: column nowrap;
      }
    }
  }
}
