$card-height: 8rem;
$card-width: $card-height / 1.5;

.card-wrapper {
	width: fit-content;
	height: fit-content;
	border-radius: 1rem;
	background-color: deeppink;
	display: flex;
	flex-direction: column;
	outline: 0.1rem white solid;

	&.preselected {
		margin-top: -1rem;
	}

	&>.card {
		display: flex;
		flex-direction: column;
		border-color: #eee;
		border-radius: 1rem;
		width: $card-width;
		height: $card-height;
		background-color: black;
		color: white;
		background-size: contain;
		border-radius: 6px;
		justify-content: center;
		align-items: center;
		text-align: center;
		display: flex;
		flex-flow: column nowrap;
		font-size: 1.5em;
		color: rgb(88 199 250 / 70%);
		cursor: pointer;
		font-family: cursive;

		&>.card-number {
			width: 100%;
			height: 33%;
			display: flex;
			// font-family: "Arial Black", serif;
			font-size: 150%;

			&>p {
				margin-left: 0.3rem;
			}
		}

		&>.card-color {
			width: 100%;
			height: 67%;
		}

		&>.deck-card-number {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			// font-family: "Arial Black", serif;
			font-size: 140%;

			&>p {
				top: 0;
				bottom: 0;
				margin: auto;
				text-align: center;
			}
		}
	}
}

.deck-card {
	background-image: url("./icons/default.svg");
}

.trash-can-card {
	background-image: url("./icons/trash_can.svg");
}

.card-red {
	background-image: url("./icons/red.svg");
}

.card-blue {
	background-image: url("./icons/blue.svg");
}

.card-green {
	background-image: url("./icons/green.svg");
}

.card-yellow {
	background-image: url("./icons/yellow.svg");
}

.card-violet {
	background-image: url("./icons/violet.svg");
}

.card-rainbow {
	background-image: url("./icons/rainbow.svg");
}

.card-unknown-color {
	background-image: url("./icons/unknown_color.svg");
}

.card-number-known {
	&:before {
		width: auto;
		height: 0.35rem;
		content: "";
	}
}

.card-color-known {
	&:after {
		width: auto;
		height: 0.35rem;
		content: "";
	}
}